@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
:root {
  --primaryColor: hsl(262, 90%, 53%);
  --primaryColorLight: hsl(250, 94%, 87%);
  --bgColor: hsl(0, 0%, 100%);
  --formColor: hsl(20, 42%, 87%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --greyColor: hsl(0, 0%, 51%);
  --inputColor: hsl(330, 12%, 97%);
  --cardColor: hsl(300, 3%, 94%);
  /* Font any Typography */
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.6rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
  --borderRadius: 3rem;
}

.places .secContainer .redText {
  color: var(--primaryColor);
  font-size: var(--smallFontSize);
  font-weight: 500;
}
.places .secContainer h3 {
  font-size: var(--h1FontSize);
}
.places .secContainer .searchField {
  margin-Top: 2rem;
  gap: 1rem;
}
.places .secContainer .searchField .inputField {
  background: var(--primaryColorLight);
  padding: 1rem;
  border-radius: var(--borderRadius);
  gap: 0.5rem;
}
.places .secContainer .searchField .inputField input {
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
}
.places .secContainer .searchField .inputField .icon {
  color: var(--blackColor);
}
.places .secContainer .searchField .btn {
  gap: 0.5rem;
  margin: auto;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.places .secContainer .secMenu {
  display: none;
}
.places .secContainer .placesContainer {
  margin-top: 2rem;
}
.places .secContainer .placesContainer .singlePlace {
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  height: 260px;
}
.places .secContainer .placesContainer .singlePlace .imgDiv {
  position: relative;
  height: 100%;
  width: 100%;
}
.places .secContainer .placesContainer .singlePlace .imgDiv img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease-in-out;
}
.places .secContainer .placesContainer .singlePlace:hover .imgDiv img {
  scale: 1.1;
}
.places .secContainer .placesContainer .singlePlace .placeInfo {
  position: absolute;
  z-index: 2;
  bottom: 0;
  width: 100%;
  padding: 1rem 2rem 1rem;
  justify-content: space-between;
}
.places .secContainer .placesContainer .singlePlace .placeInfo::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.76));
  z-index: 1;
}
.places .secContainer .placesContainer .singlePlace .placeInfo .text {
  gap: 0.5rem;
  color: var(--whiteColor);
  font-weight: 600;
}
.places .secContainer .placesContainer .singlePlace .placeInfo .text .name {
  display: block;
  font-weight: 400;
  padding-bottom: 0.3rem;
  font-weight: var(--h2FontSize);
}
.places .secContainer .placesContainer .singlePlace .placeInfo .text .flex, .places .secContainer .placesContainer .singlePlace .placeInfo .text .icon {
  font-size: var(--normalFontSize);
}
.places .secContainer .placesContainer .singlePlace .placeInfo .rating {
  padding: 8px 1rem;
  border-radius: var(--borderRadius);
  background: rgba(245, 245, 245, 0.37);
  border: 1.5px solid rgba(255, 255, 255, 0.241);
  font-size: var(--h3FontSize);
  font-weight: 600;
  color: var(--whiteColor);
}/*# sourceMappingURL=Places.css.map */