@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

//All project colors
:root{
    --primaryColor: hsl(262, 90%, 53%);
    --primaryColorLight: hsl(250, 94%, 87%);
    --bgColor: hsl(0, 0%, 100%);
    --formColor: hsl(20, 42%, 87%);
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(0, 0%, 18%);
    --greyColor: hsl(0, 0%, 51%);
    --inputColor: hsl(330, 12%, 97%);
    --cardColor: hsl(300, 3%, 94%);

    /* Font any Typography */
    --biggestFontSize: 2.5rem;
    --h1FontSize: 2rem;
    --h2FontSize: 1.25rem;
    --h3FontSize: 1rem;
    --normalFontSize: 0.938rem;
    --smallFontSize: 0.813rem;
    --smallestFontSize: 0.75rem;
    --borderRadius: 3rem;
}

.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1.5rem 2rem;
    position: fixed;
    border-bottom: 1.5px solid rgb(200, 200, 200);
    //background: #a06ed2;
    backdrop-filter: blur (5px);
    z-index: 1000;
    background: rgba(148, 126, 185, 0.516);

    .logoDiv{
        display: flex;
        align-items: center;
        justify-content: center;

        span{
            color: var(--whiteColor);
            font-size: var(--h3FontSize);
            justify-content: center;
            font-weight: bold;
            font-style: italic;
        }
    }

    @media screen and (max-width:767px) {
        .menu{
            position: absolute;
            width: 70%;
            top:-100rem;
            right: 50%;
            left: 50%;
            transform: translate(-50%);
            background: rgba(255,255,255,0.94);
            padding: 2rem;
            border-radius:10px;
            transition: .8s ease-in-out;
            backdrop-filter: blur(5px);
            box-shadow: 0 2px 3px 4px rgba(222, 213, 236, 0.516);

            li{
                font-size: var(--h3FontSize);
                font-weight: 500;
                padding: 1rem 0;
                text-align:center;
                cursor:pointer;

                &:hover{
                    color: var(--primaryColor);
                    border-bottom: 1.5px solid var(--primaryColor);
                }
            }
        }
    }

    .menuIcon, .closeIcon{
        font-size: var(--h1FontSize);
        &:hover{
            color: var(--primaryColor);
        }
    }

    .closeIcon{
        position: absolute;
        bottom: -15px;
        right: 50%;
        left: 50%;
        color: var(--blackColor);
        transform: translate(-50%);
    }
    .showNavBar{
        top: 8rem;
    }
}

@media screen and (min-width: 768px) {
    .navBar{
        .logoDiv{
            span{
                font-size: var(--h2FontSize);
            }
        }
        .closeIcon, .menuIcon{
            display: none;
        }
        .menu{
            ul{
                display: flex;
                gap: 1.5rem;

                li{
                    font-size: var(--h3FontSize);
                    font-weight: 500;
                    padding: 1.5rem 0;
                    text-align: center;
                    cursor: pointer;

                    &:hover{
                        color:var(--primaryColor);
                        border-bottom: 1.5px solid var(--primaryColor);
                    }
                }
            }
        }
    }
    
}